@model Homish.EntityLayer.AboutUs

<section class="w3l-grids-3 py-5" id="about">
    <div class="container py-md-5">
        <div class="row bottom-ab-grids align-items-center">
            <div class="col-lg-6 bottom-ab-left pr-lg-5">
                <h6 class="sub-title">Hakkımızda</h6>
                <h3 class="hny-title">
                    @Model.Title1
                </h3>
                <p class="my-3 pr-lg-4">
                    @Model.Desciription
                </p>
                <a href="about.html" class="btn btn-style btn-secondary mt-4">Daha Fazla Oku</a>
            </div>
            <div class="col-lg-6 bottom-ab-right mt-lg-0 mt-5">
                <img src="@Model.Image1" class="img-fluid" alt="">
            </div>

        </div>
    </div>
</section>