﻿
<ul class="menu-inner py-1">
    <!-- Dashboard -->
    <li class="menu-header small text-uppercase">
        <span class="menu-header-text">Vitrin İşlemleri</span>
    </li>
    <li class="menu-item">
        <a href="/AdminAboutUs/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bx-home-circle"></i>
            <div data-i18n="Analytics">Hakkımızda</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/AdminPropertiesByArea/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bxs-city"></i>
            <div data-i18n="Analytics">Şehirlere Göre Mülkler</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/AdminProperty/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bx-buildings"></i>
            <div data-i18n="Analytics">Mülkler</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/AdminStatistics/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bx-pie-chart"></i>
            <div data-i18n="Analytics">İstatistikler</div>
        </a>
    </li>
    
   </ul>