<section class="w3l-main-slider" id="home">
    <div class="companies20-content">
        <div class="owl-one owl-carousel owl-theme">
            <div class="item">
                <li>
                    <div class="slider-info banner-view bg bg2">
                        <div class="banner-info">
                            <div class="container">
                                <div class="banner-info-bg text-left">
                                    <p>Daha iyi bir yaşam</p>
                                    <h5>Daha iyi bir yaşam için üretken alanlar</h5>
                                    <a href="about.html" class="btn btn-white">Daha Fazla Oku</a>
                                </div>
                            </div>
                        </div>
                        <div class="banhny-w3grids">
                            <div class="banhny-w3grids-1">
                                <h4 class="number-b">1</h4>
                            </div>
                            <div class="banhny-w3grids-1">
                                <h4><a href="#" class="hnys-title">Mülk almanın daha iyi yolu.</a></h4>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
            <div class="item">
                <li>
                    <div class="slider-info  banner-view banner-top1 bg bg2">
                        <div class="banner-info">
                            <div class="container">
                                <div class="banner-info-bg text-left">
                                    <p>Hayallerindeki Ev</p>
                                    <h5>Herkes hayalindeki evi almayı hakeder.</h5>
                                    <a href="about.html" class="btn btn-white">Daha Fazla Oku</a>
                                </div>
                            </div>
                        </div>
                        <div class="banhny-w3grids">
                            <div class="banhny-w3grids-1">
                                <h4 class="number-b">2</h4>
                            </div>
                            <div class="banhny-w3grids-1">
                                <h4><a href="#" class="hnys-title">Evet.</a></h4>
                            </div>
                        </div>
                    </div>
                </li>
            </div>


        </div>
        <a href="#about" scroll="scroll">
            <div class="arrow">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </a>
    </div>
</section>