<section class="w3l-how-grids-3 py-5" id="how">
    <div class="container py-md-5">
        <div class="w3l-header mb-md-5 mb-4 text-center">
            <h6 class="sub-title">Mülkler</h6>
            <h3 class="hny-title">Şehirlerdeki Mülkler</h3>
            <p class="">Şehirlerdeki mülkleri sizlerle buluşturuyoruz</p>
        </div>
        <div class="d-grid grid-col-2 grid-element-9">
            <div class="left-grid-ele-9 grid-bg1">
                <div class="sub-wid-grid-9">
                    <h4 class="text-grid-9"><a href="#">Konya</a></h4>
                    <p class="sub-para">Mükemmel Şehir!</p>
                    <span>8 Mülk</span>
                </div>
            </div>
            <div class="left-grid-ele-9 grid-bg2">
                <div class="sub-wid-grid-9">
                    <h4 class="text-grid-9"><a href="#">Şanlıurfa</a></h4>
                    <p class="sub-para">Yaşanabilecek en iyi şehir!</p>
                    <span>8 Mülk</span>
                </div>
            </div>
        </div>
        <div class="d-grid grid-col-3 grid-element-9 margin-top">
            <div class="left-grid-ele-9 grid-bg3">
                <div class="sub-wid-grid-9">
                    <h4 class="text-grid-9"><a href="#">Londra</a></h4>
                    <p class="sub-para">Kelimelerle Anlatamam!</p>
                    <span>15 Mülk</span>
                </div>
            </div>
            <div class="left-grid-ele-9 grid-bg4">
                <div class="sub-wid-grid-9">
                    <h4 class="text-grid-9"><a href="#">Tokyo</a></h4>
                    <p class="sub-para">Şehir en iyi yaşanabilecek!</p>
                    <span>28 Mülk</span>
                </div>
            </div>
            <div class="left-grid-ele-9 grid-bg5">
                <div class="sub-wid-grid-9">
                    <h4 class="text-grid-9"><a href="#">Paris</a></h4>
                    <p class="sub-para">En iyi şehir yaşanılabilecek!</p>
                    <span>12 Mülk</span>
                </div>
            </div>
        </div>
    </div>
</section>


