@model Homish.EntityLayer.Statistics
<section class="w3l-stats py-5" id="stats">
    <div class="gallery-inner container py-lg-0 py-3">
        <div class="row stats-con pb-lg-3">
            <div class="col-lg-4 col-6 stats_info counter_grid">
                <p class="counter">@Model.CustomProducts</p>
                <h4>Özel Ürünler</h4>
            </div>
            <div class="col-lg-4 col-6 stats_info counter_grid1">
                <p class="counter">@Model.OurFarms</p>
                <h4>Çiftliklerimiz</h4>
            </div>
            <div class="col-lg-4 col-6 stats_info counter_grid mt-lg-0 mt-5">
                <p class="counter">@Model.HappCustomers</p>
                <h4>Mutlu Müşteriler</h4>
            </div>

        </div>
    </div>
</section>